<!-- views/covers.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Covers</title>
</head>
<body>
    <h1>Book Covers</h1>
    <ul>
        <% covers.forEach(cover => { %>
            <li><img src="<%= cover.url_s %>"></li>
        <% }); %>
    </ul>
</body>
</html>
